<h1>Usuários</h1>
<hr>

<h3>Cadastro de Pessoas</h3>

<form class="form-horizontal" #f="ngForm" (ngSubmit)="salvar()">
    <input type="hidden" name="id" [(ngModel)]="pessoa.id">
    <div class="row">
        <div class="form-group col-md-4">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="pessoa.nome">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <input type="submit" class="btn btn-primary" value="Salvar">
        </div>
    </div>
</form>

<hr>

<h3>Usuários Cadastrados</h3>

<table class="table table-bordered table-hover">
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Ações</th>
    </tr>

    <tr *ngFor="let pessoa of getPessoa()">
        <td>{{ pessoa.id }}</td>
        <td>{{ pessoa.nome }}</td>
        <td>
            <button class="btn btn-primary btn-sm" (click)="editar(pessoa)">
                Editar
            </button>
            <button class="btn btn-danger btn-sm" (click)="excluir(pessoa)">
                Excluir
            </button>
        </td>
    </tr>
</table>