<nav class="navbar navbar-fixed-top navbar-light bg-faded">
    <div class="container">
        <a class="navbar-brand" routerLink="/">
            Angular2 Skeleton
        </a>
  </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>
